

body {
  padding-top: 54px;
  font-family: 'Ubuntu', sans-serif;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/*--------- new changes  -------------*/


.fixed-top {
    height: 80px;
}

.navbar-blue {
    background-color: #0072d3; 
}

.navbar a {
    color: #f2f2f2;
}

.navbar a:hover {
    color: #ffffff;
}

header {
    margin-top: 60px;
}

.center-text {
    text-align: center;
}

.box-news {
    display: flex;
}

.box-news .box {
    width: 100%;
    padding: 15px;
}

.box-news .box h2 {
    color: #f2ae2b;
    margin: 10px 0 0 0;
}

.box-news a {
   text-decoration: none;
}


.box-news .box img {
    width: 100%;
}

.social-media {
    display: flex;
}

.social-media .box-media {
    width: 100%;
    padding: 10px 5px 0px 5px;
    background-color: #0072d3;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.social-media .box-media:hover {
    background-color:  #2153D5;
    cursor: pointer;
}

.social-media .box-media img {
    vertical-align: text-top;
}

.social-media .box-media h2 {
    text-align: center;
    color: #FFFFFF;
}

.card {
    border-radius: 0;
    border: none;
} 

.inst-box {
   display: flex;
}

.boxes {
    background-color: #0072d3;
    width: 100%;
    padding: 25px;
    border-right: 1px solid #f2f2f2;
}

.boxes:hover {
    background-color: #2153D5;
    cursor: pointer;
}

.boxes:last-child {
    border-right: none;
}

.boxes h3{
   color: #f2f2f2;
}

.boxes a{
   color: #f2f2f2;
}


.line-text h3 {
    color: #0072d3;
    border-bottom: 1px dotted #555555;
}

.line-text span {
    color: #0072d3;
    font-size: 12px;
}

footer h5 {
    color: #888888;
}

footer p {
    color: #666666;
}

footer a {
    color: #666666;
    display: block;
    
}

footer a:hover {
    color: #0072d3;
    text-decoration: none;
}


/*---- media query ---*/

@media (max-width: 1024px) {
    
    .navbar-toggler {
        border: none;
    }
    
    .navbar-toggler-icon {
        display: inline-block;
        vertical-align: middle;
    }
    
    .navbar-collapse {
        background-color: #0072d3;
        margin: 12px 0 0 0;
        padding: 20px;
    }
    
    .fa-bars {
        color: #f2f2f2;
    }
    
    .dropdown-menu {
        background: none;
        border: none;
    }
    
    .navbar a:hover {
        color: #333333;
    }
    
}

@media (max-width: 700px) {
    
    .navbar-toggler {
        border: none;
    }
    
    .navbar-toggler-icon {
        display: inline-block;
        vertical-align: middle;
    }
    
    .navbar-collapse {
        background-color: #0072d3;
        margin: 12px 0 0 0;
        padding: 20px;
    }
    
    .fa-bars {
        color: #f2f2f2;
    }
    
    .dropdown-menu {
        background: none;
        border: none;
    }
    
    .navbar a:hover {
        color: #333333;
    }
    
    .box-news {
        flex-wrap: wrap;
    }
      .inst-box {
        flex-wrap: wrap;
    }
    
    .boxes {
        margin-bottom: 2px;
    }
    
    .social-media {
        flex-wrap: wrap;
    }
    
    .social-media .box-media {
        padding: 10px;
    }
    
    .social-media .box-media h2{
        font-size: 25px;
    }
}


/*--------- End new changes  -------------*/

/*----- carousel -----*/
.carousel-item {
  height: 40vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


